body {
    background-color: #C4BEB5;
    /* margin: 0; */
    padding: 0;
    
}

#logo-img {
    text-align: center;
    color: #1c1c1c;
}
#logo-img img {
    display: block; 
    margin: 0 auto; 
    width: 20%;
}

.navbar {
    background-color: #1c1c1c;
}
.navbar ul{
margin:20px;
padding: 5px;
margin: 10px;
;
}
.navbar a{
    color: #C4BEB5;
    text-decoration: none;
}

.nav-right{
float: right;
float: right;
margin-left: 10px;
}


#welcome-info {
    text-align: center;
    /* color: #1c1c1c; */
}
#welcome-info img {
    display: block; 
    margin: 0 auto; 
    margin-top: 3%;
    width: 30%;
}

#welcome-info p {
        width: 30%; 
        margin: 0 auto; 
        font-size: 14px;
        margin-bottom: 2%;
}

.footer {
    background-color: #1c1c1c;
    text-align: center;
    color: #C4BEB5;
    text-decoration: none;
    padding: 5px; /* Add padding for better spacing */
    margin: 0; /* Remove default margin */
}

.footer a {
    text-decoration: none; /* Remove underline */
    color: #C4BEB5; /* Set link color */
    margin-right: 10px; /* Add margin between links */
}

/* .footer a:hover {
    text-decoration: underline;
} */